.tiktok-sort-btn {
    background: #ff2d55;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.tiktok-sort-btn:hover {
    background: #e6004c;
}

.tiktok-favorites-sort-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.tiktok-liked-sort-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
