body {
    background-color: #010101;
    font-family: "Proxima Nova", sans-serif;
    text-align: center;
    font-size: 14px;
}

.logo {
    width: 30px;
    height: 30px;
}

.title {
    color: #e60040;
}

.developerName {
    color: #25F4EE;
}

.releaseversion {
    color: #e60040;
}

.button-container {
    display: grid;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.help-button {
    background-color: #25F4EE;
    color: #010101;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.settings-button {
    background-color: #e60040;
    color: #010101;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.github-button {
    background-color: #25F4EE;
    color: #010101;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.changelog-button {
    background-color: #e60040;
    color: #010101;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
