body {
    width: 270px;
    height: 400px;
    background-color: #010101;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 14px;
}

.logo {
    width: 100px;
    height: 100px;
}

.title {
    color: #e60040;
}

.developerName {
    color: #25F4EE;
}

.releaseversion {
    color: #e60040;
}

.button-container {
    display: grid;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.rate-button {
    background-color: #e60040;
    color: #010101;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.help-button {
    background-color: #25F4EE;
    color: #010101;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.settings-button {
    background-color: #e60040;
    color: #010101;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.github-button {
    background-color: #25F4EE;
    color: #010101;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.changelog-button {
    background-color: #e60040;
    color: #010101;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
